// ------------------------------------
// CHECKOUT CONTACT STEP
// ------------------------------------
.has-checkout-layout--multi-step [data-step-complete] [data-substep-id="contact_login"] {
	display: none;
}



.sc-content div.woocommerce form .sc-wrapper .form-row.create-account {
	margin-top: $global-spacing-extra-small;
	margin-bottom: 0;
}

.sc-content div.woocommerce form .sc-wrapper .form-row.create-account + div.create-account {
	margin-top: $global-spacing-extra-small;
}
